<section class="about-section">
  <div class="container">
    <div class="about-section__wrapper">
      <h2 class="about-section__title section-title">
        Мы – важное связующее звено между: клиентом и мфо, клиентом и страховой
        компанией, клиентом и брокером
      </h2>
      <div class="about-section__text">
        <p>
          Мы каждый день анализируеи все свежие предложения от партнеров. Мы
          расскажем Вам какие МФО проводят акции и выдают займы под низкий
          процент. Мы расскажем какая страховая подойдет вам, если вы часто
          путешествуете, а так же подскажем как выгодно сохранить свои
          сбережения или довериться профессиональному брокеру.
        </p>
        <p>
          Мы сотрудничаем только с проверенными партнерами, которые имеют
          соответствующие лицензии и зарегистрированы в реестре Банка России.
        </p>
      </div>

      <a class="about-section__btn btn" href="#"> Подробнее о компании </a>

      <div class="about-section__preview">
        <picture>
          <source srcset="img/about-section.webp" type="image/webp" />
          <img src="img/about-section.jpg" alt="img" />
        </picture>
      </div>
    </div>
  </div>
</section>
