<section class="article">
  <div class="container">
    <h1 class="article__title">Как работают микрозаймы под 0%</h1>
    <picture>
      <source srcset="img/article.webp" type="image/webp" />
      <img class="article__img" src="img/article.jpg" alt="article" />
    </picture>

    <div class="article__text">
      <p>
        В некоторых микрофинансовых организациях можно взять деньги в долг под
        0%, но при определенных условиях. Например, только при первом обращении
        в МФО. Мы проверили, как работают такие займы.
      </p>
      <p>
        Главное условие: МФО предоставляют беспроцентные займы только новым
        клиентам. Теоретически, можно каждый раз обращаться в новую организацию,
        где действует такая акция. Однако каждый микрозайм записывается в
        кредитную историю, и некоторые МФО могут отказать, если посчитают, что
        потенциальный заемщик злоупотребляет этим.
      </p>
      <p>
        «Каждая микрокредитная организация сама решает, хочет она работать с
        клиентом или нет. Но заемщик, который обращается за другим беспроцентным
        займом, скорее всего, вызовет беспокойство у МФО». — говорит Алексей
        Волков, директор по маркетингу Национального бюро кредитных историй.
      </p>
      <p>
        МФО предлагают не очень большие суммы для беспроцентного займа —
        максимум 30 000, но чаще это 5 000 — 10 000 рублей. Основная цель
        бесплатного приветственного кредита — ознакомить нового клиента с
        услугами компании и интерфейсом личного кабинета. Таким образом, человек
        с большей вероятностью вернется за новым кредитом со стандартными
        условиями.
      </p>
      <p>
        Для каждой МФО время — деньги, поэтому не каждая организация готова
        предоставить беспроцентный кредит на длительный срок. Максимальный срок
        погашения варьируется от одной недели до 30 дней, в редких случаях
        предлагаются кредиты на 35 дней.
      </p>
      <p>
        Условия беспроцентных займов схожи с условиями по кредитным картам с
        льготным периодом. Дается срок, в течение которого долг может быть
        погашен без процентов. Если вы пропустите этот срок, кредит больше не
        будет бесплатным. МФО начислит проценты за весь период и пени за каждый
        день просрочки.
      </p>
      <p>
        «За исключением процентной ставки 0%, все остальное в кредите обычно
        стандартно. Как и в случае с любым займом или кредитом, самое главное —
        рассчитать свои силы и вернуть деньги вовремя. В противном случае
        начнутся пени и штрафы», — говорит Алексей Волков.
      </p>
    </div>
  </div>
</section>
