<div class="banners">
  <div class="container">
    <ul class="banners__list">
      <li class="banners__item">
        <article
          class="banners-card"
          style="background-image: url('img/banners/1.jpg')"
        >
          <a class="banners-card__link" href="#"></a>
          <div class="banners-card__inner">
            <h3 class="banners-card__title">
              Кредитный эксперт <br />
              на дом
            </h3>
            <p class="banners-card__text">
              Наш кредитный эксперт сам приедет к вам со всеми необходимыми
              документами.
            </p>
            <button class="banners-card__btn btn" type="button">
              Оформить займ
            </button>
          </div>
        </article>
      </li>
      <li class="banners__item">
        <article
          class="banners-card"
          style="background-image: url('img/banners/2.jpg')"
        >
          <a class="banners-card__link" href="#"></a>
          <div class="banners-card__inner">
            <h3 class="banners-card__title">
              Увеличивай бюджет <br />
              не выходя из дома
            </h3>
            <p class="banners-card__text">
              Инвестируй в займы с повышенной доходностью
            </p>
            <button class="banners-card__btn btn" type="button">
              Стать партнером
            </button>
          </div>
        </article>
      </li>
      <li class="banners__item">
        <article
          class="banners-card"
          style="background-image: url('img/banners/3.jpg')"
        >
          <a class="banners-card__link" href="#"></a>
          <div class="banners-card__inner">
            <h3 class="banners-card__title">
              Инвестируй с <br />
              управляемым риском
            </h3>
            <p class="banners-card__text">
              Профессиональный брокер <br />
              поможет сделать выбор
            </p>
            <button class="banners-card__btn btn" type="button">
              Нанять брокера
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</div>
