<section class="contacts contacts--title">
  <div class="container">
    <h2 class="contacts__title">Контакты</h2>
    <div class="contacts__wrapper">
      <div class="contacts__left">
        <div class="contacts__connect">
          <div class="contacts__item contacts__item--phone">
            <a href="tel:+78003008509">8 (800) 300 85 09</a>
            <button class="contacts__btn btn" type="button">
              Заказать звонок
            </button>
          </div>
          <div class="contacts__item contacts__item--location">
            <span>Офис: </span>ул. Хакурате, д. 12, офис 17
          </div>
          <div class="contacts__item contacts__item--clock">
            <address>
              <span>Режим работы:</span> пн - пт с 09:00 до 19:00
            </address>
          </div>
          <div class="contacts__item contacts__item--email">
            <span>Электронная почта:</span>
            <a href="mailto:info@sverhkassa.ru">info@sverhkassa.ru</a>
          </div>
        </div>
      </div>
      <div class="contacts__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=138405655018"
          width="560"
          height="400"
        ></iframe>
      </div>
    </div>
  </div>
</section>
