<section class="descr-section">
  <div class="container">
    <div class="descr-section__wrapper">
      <h2 class="descr-section__title">
        Сервис «СверхКасса» это не временное или разовое решение
      </h2>
      <div class="descr-section__text">
        <p>
          Это сервис позволяющий подобрать решение финансовой задачи наиболее
          актуальной в настоящий момент или спланировать свое финансовое
          будущее. Мы поможем найти деньги когда их недостает и поможем
          подобрать решение когда стоит вопрос об их сбережении.
        </p>
        <p>
          Мы выбираем только тех партнеров, с которыми сами готовы сотрудничать
          долгие годы.
        </p>
      </div>
    </div>
  </div>
</section>
