<section class="faq">
  <div class="container">
    <div class="faq__top">
      <h2 class="faq__title">Часто - задаваемые вопросы</h2>
      <p class="faq__text">
        Для вашего удобства мы опубликовали вопросы, которые <br />
        клиенты чаще всего задают нашим специалистам.
      </p>
    </div>
    <div class="faq__wrapper">
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Вы сами выдаете займы или предоставляете клиентам проверенных
          партнеров МФО?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>Да.</div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Кто может получить займ через ваш сервис?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>Я.</div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Какие документы нужны для оформления займа?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>Все.</div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Сколько времени будет рассматриваться моя заявка?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>Вечно.</div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Как погасить заём?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>Никак.</div>
        </div>
      </div>
      <div class="faq-accordion accordion">
        <button class="faq-accordion__control accordion-control" type="button">
          Что делать, если не успеваю погасить заём?
        </button>
        <div class="faq-accordion__content accordion-content">
          <div>Ничего.</div>
        </div>
      </div>
    </div>
  </div>
</section>
