<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="footer__col">
          <a class="footer__logo logo" href="#">
            <img src="img/logo-white.png" alt="Логотип" />
          </a>
          <div class="socials">
            <ul class="socials__list">
              <li class="socials__item">
                <a
                  class="socials__link socials__link--ok"
                  href="#"
                  target="_blank"
                  aria-label="Одноклассники"
                ></a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link socials__link--vk"
                  href="#"
                  target="_blank"
                  aria-label="Вконтакте"
                ></a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link socials__link--tg"
                  href="#"
                  target="_blank"
                  aria-label="Телеграмм"
                ></a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link socials__link--wapp"
                  href="#"
                  target="_blank"
                  aria-label="Вассап"
                ></a>
              </li>
              <li class="socials__item">
                <a
                  class="socials__link socials__link--vb"
                  href="#"
                  target="_blank"
                  aria-label="Вайбер"
                ></a>
              </li>
            </ul>
          </div>
          <div class="footer-details">
            <a class="footer-details__link" href="#">
              Политика конфиденциальности
            </a>
            <a class="footer-details__link" href="#"> Карта сайта</a>
          </div>
        </div>
        <div class="footer__col">
          <span class="footer__name">Услуги</span>

          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Займы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Сбережения</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Инвестирование</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">О компании</span>
          <div class="footer__lists">
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">История</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Миссия</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Как мы работаем</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Команда</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Вакансии</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">География</a>
              </li>
            </ul>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Партнёры</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Контакты</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Блог</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer-contacts">
          <div class="footer-contacts__item">
            <a class="footer-contacts__phone" href="tel:+78003008509">
              8 (800) 300 85 09
            </a>
            <button class="footer-contacts__btn btn" type="button">
              Заказать звонок
            </button>
          </div>
          <div class="footer-contacts__item">
            <a class="footer-contacts__email" href="mailto:info@sverhkassa.ru">
              info@sverhkassa.ru
            </a>
            <button class="footer-contacts__btn btn" type="button">
              Написать нам
            </button>
          </div>
          <div class="footer-contacts__item footer-contacts__item--location">
            <div class="footer-contacts__name">Офис</div>
            <address class="footer-contacts__text">
              ул. Хакурате, д. 12, офис 17
            </address>
          </div>
          <div class="footer-contacts__item footer-contacts__item--clock">
            <div class="footer-contacts__name">Режим работы:</div>
            <div class="footer-contacts__text">пн - пт с 09:00 до 19:00</div>
          </div>
        </div>
        <div class="footer-partner">
          <div class="footer-partner__inner">
            <p class="footer-partner__left">
              Сервис SverhKassa - является рекламно-информационной площадкой ИП
              Никоненко О.О. являющегося кредитным и страховым брокером.
            </p>

            <div class="footer-partner__right">
              <span>Основной партнер:</span>

              <a href="https://xn--80adjilsyf3b.xn--p1ai//" target="_blank">
                <img src="img/partner-logo.png" alt="logo" />
              </a>
            </div>
          </div>
          <a href="https://sverhzaym.ru/" target="_blank">
            Нормативные документы компании
          </a>
        </div>
        <a class="company" href="https://razrabotka-saita.ru/" target="_blank">
          <span>Разработка сайта</span>
          <img src="img/logo-company.png" alt="АдвансМедиа" />
        </a>
      </div>
    </div>
  </div>
</footer>
