<section class="geography">
  <div class="container">
    <div class="geography__wrapper">
      <h1 class="geography__title">География</h1>
      <div class="geography__top">
        <span class="geography__text">Найдите ближайший ВСП</span>
        <select class="select geography__select">
          <option value="1">Выберите город</option>
          <option value="2">Выберите город</option>
          <option value="3">Выберите город</option>
          <option value="4">Выберите город</option>
        </select>
        <label class="checkbox">
          <input class="checkbox__input" type="checkbox" />
          <span class="checkbox__box"></span>
          <span class="checkbox__text"> Показать рядом со мной </span>
        </label>
      </div>

      <div class="geography__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A2cf83670d3f319639bb1cfe065690abe07747f709aeac3983a8a465a84aac50b&amp;source=constructor"
          width="650"
          height="375"
        ></iframe>
      </div>
    </div>
  </div>
</section>
