<section class="goal" style="background-image: url('img/goal-bg.jpg')">
  <div class="container">
    <div class="goal__wrapper">
      <h2 class="goal__title">Наша цель</h2>

      <div class="goal__box">
        <p>
          Создать площадку где любой человек сможет найти и подобрать решение
          наилучшим образом соответствующее текущим своим финансовым задачам.
        </p>
        <p>
          При этом мы готовы каждому обратившемуся клиенту подбирать и
          предоставлять самые лучшие условия из доступных ему на текущий момент.
        </p>
      </div>
    </div>
  </div>
</section>
