<header class="header">
  <!-- Mobile Menu -->
  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo logo" href="#">
        <img src="img/logo.png" alt="логотип" />
      </a>
      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 6L18 18"
            stroke="#f1ebda"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18 6L6 18"
            stroke="#f1ebda"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Главная</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Услуги</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Проекты</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>О компании</span></a>
      </li>
      <!--  -->
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Займы</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Сбережения</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Инвестиции</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Партнеры</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Блог</span></a>
      </li>
    </ul>

    <div class="mobile-menu__btns">
      <a class="mobile-menu__phone" href="tel:+78003008509">
        8 (800) 300 85 09
      </a>
    </div>
  </div>
  <!-- Mobile Menu -->

  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <button class="header__toggle" type="button" aria-label="Открыть меню">
          <span class="header__toggle-line"></span>
        </button>

        <a class="header__logo logo" href="index.html">
          <img src="img/logo.png" alt="Логотип" />
        </a>

        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="index.html">Главная</a>
            </li>
            <li class="menu__item">
              <a class="menu__link menu__link--dropdown" href="#"> Услуги </a>

              <div class="dropmenu">
                <ul class="dropmenu__list">
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Услуги</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Услуги</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="#">Услуги</a>
                  </li>
                </ul>
              </div>
            </li>
            <!-- <li class="menu__item">
              <a class="menu__link" href="#">Проекты</a>
            </li> -->
            <li class="menu__item">
              <a class="menu__link menu__link--dropdown" href="#">
                О компании
              </a>

              <div class="dropmenu">
                <ul class="dropmenu__list">
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="history.html">История</a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="mission.html">
                      Наша миссия
                    </a>
                  </li>
                  <li class="dropmenu__item">
                    <a class="dropmenu__link" href="geography.html">
                      География
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>

        <a class="header__phone" href="+78003008509">8 (800) 300 85 09</a>

        <div class="header__btns">
          <button class="header__btn btn back-call-btn" type="button">
            Заказать звонок
          </button>
          <a class="header__btn btn btn--gray" href="login.html">
            Вход | Регистрация
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-inner">
        <div class="menu-bottom">
          <ul class="menu-bottom__list">
            <li class="menu-bottom__item">
              <a class="menu-bottom__link" href="loans.html">Займы</a>
            </li>
            <li class="menu-bottom__item">
              <a class="menu-bottom__link" href="investment.html">Сбережения</a>
            </li>
            <li class="menu-bottom__item">
              <a class="menu-bottom__link" href="vacancies.html">Вакансии</a>
            </li>
            <li class="menu-bottom__item">
              <a class="menu-bottom__link" href="partners.html">Партнеры</a>
            </li>
            <li class="menu-bottom__item">
              <a class="menu-bottom__link" href="blog.html">Блог</a>
            </li>
          </ul>
        </div>

        <form class="header-search">
          <label class="header-search__group">
            <input
              class="header-search__input"
              type="text"
              placeholder="Поиск по сайту"
            />
            <span class="header-search__icon">
              <svg
                width="13"
                height="13"
                viewBox="0 0 13 13"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13 11.875L9.1225 7.99687C9.74738 7.13817 10.0835 6.10325 10.0825 5.04125C10.0825 2.26156 7.82094 0 5.04125 0C2.26156 0 0 2.26156 0 5.04125C0 7.82094 2.26156 10.0825 5.04125 10.0825C6.10325 10.0835 7.13817 9.74738 7.99687 9.1225L11.875 13L13 11.875ZM5.04125 8.49031C4.359 8.49037 3.69206 8.28812 3.12476 7.90912C2.55747 7.53012 2.1153 6.9914 1.85419 6.3611C1.59308 5.7308 1.52474 5.03722 1.65783 4.36807C1.79091 3.69893 2.11944 3.08428 2.60186 2.60186C3.08428 2.11944 3.69893 1.79091 4.36807 1.65783C5.03722 1.52474 5.7308 1.59308 6.3611 1.85419C6.9914 2.1153 7.53012 2.55747 7.90912 3.12476C8.28812 3.69206 8.49037 4.359 8.49031 5.04125C8.48924 5.95567 8.12551 6.83233 7.47892 7.47892C6.83233 8.12551 5.95567 8.48924 5.04125 8.49031V8.49031Z"
                  fill="#a8a9b0"
                />
              </svg>
            </span>
          </label>
        </form>
      </div>
    </div>
  </div>
</header>
