<section
  class="invest-banner"
  style="background-image: url('img/invest-bg.jpg')"
>
  <div class="container">
    <div class="invest-banner__offer">
      <h2 class="invest-banner__title">Инвестором может быть каждый</h2>

      <p class="invest-banner__text">
        Большинство реальных инвесторов — обычные люди: они ходят на работу,
        растят детей и увлекаются не только финансами. Для них инвестиции — это
        просто ещё один источник дохода и способ обеспечить себе комфортную
        старость на пенсии.
      </p>
    </div>
  </div>
</section>
