<section class="loans">
  <div class="container">
    <div class="loans__top">
      <h1 class="loans__title">Быстрый способ получить деньги уже сегодня</h1>
      <p class="loans__text">
        у проверенного партнера, которому доверяем мы и наши клиенты
      </p>
    </div>

    <div class="loans__steps">
      <div class="loans-step">
        <div class="loans-step__text">Шаг 1</div>
        <div class="loans-step__right">
          <div class="loans-step__text">
            <b>Давайте знакомиться. Откуда Вы?</b>
          </div>
          <div class="loans-step__map-content">
            <div class="loans-step__top">
              <label class="loans-step__label">
                <input
                  class="loans-step__input"
                  type="text"
                  placeholder="Начните вводить название города"
                />
                <svg
                  class="location-icon"
                  width="12"
                  height="15"
                  viewBox="0 0 12 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 0C4.40926 0.00177243 2.88418 0.623219 1.75935 1.728C0.634525 2.83279 0.00180459 4.33069 0 5.89309C0 10.9357 5.45455 14.7461 5.68636 14.9068C5.77927 14.9676 5.88839 15 6 15C6.11161 15 6.22073 14.9676 6.31364 14.9068C6.54545 14.7461 12 10.9357 12 5.89309C11.9982 4.33069 11.3655 2.83279 10.2406 1.728C9.11582 0.623219 7.59075 0.00177243 6 0V0ZM6 3.75015C6.43152 3.75015 6.85336 3.87583 7.21215 4.1113C7.57095 4.34677 7.8506 4.68145 8.01574 5.07302C8.18087 5.46459 8.22408 5.89546 8.1399 6.31115C8.05571 6.72684 7.84791 7.10868 7.54278 7.40837C7.23765 7.70807 6.84888 7.91216 6.42565 7.99485C6.00242 8.07754 5.56373 8.0351 5.16505 7.8729C4.76638 7.71071 4.42563 7.43604 4.18588 7.08364C3.94614 6.73123 3.81818 6.31692 3.81818 5.89309C3.81818 5.32474 4.04805 4.77968 4.45722 4.3778C4.86639 3.97592 5.42135 3.75015 6 3.75015V3.75015Z"
                    fill="#C8C8C8"
                  />
                </svg>

                <svg
                  class="search-icon"
                  width="13"
                  height="13"
                  viewBox="0 0 13 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13 11.875L9.1225 7.99687C9.74738 7.13817 10.0835 6.10325 10.0825 5.04125C10.0825 2.26156 7.82094 0 5.04125 0C2.26156 0 0 2.26156 0 5.04125C0 7.82094 2.26156 10.0825 5.04125 10.0825C6.10325 10.0835 7.13817 9.74738 7.99687 9.1225L11.875 13L13 11.875ZM5.04125 8.49031C4.359 8.49037 3.69206 8.28812 3.12476 7.90912C2.55747 7.53012 2.1153 6.9914 1.85419 6.3611C1.59308 5.7308 1.52474 5.03722 1.65783 4.36807C1.79091 3.69893 2.11944 3.08428 2.60186 2.60186C3.08428 2.11944 3.69893 1.79091 4.36807 1.65783C5.03722 1.52474 5.7308 1.59308 6.3611 1.85419C6.9914 2.1153 7.53012 2.55747 7.90912 3.12476C8.28812 3.69206 8.49037 4.359 8.49031 5.04125C8.48924 5.95567 8.12551 6.83233 7.47892 7.47892C6.83233 8.12551 5.95567 8.48924 5.04125 8.49031V8.49031Z"
                    fill="#a8a9b0"
                  />
                </svg>
              </label>

              <button class="loans-step__btn btn" type="button">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9 0V2.07C7.24011 2.29352 5.60439 3.09553 4.34996 4.34996C3.09553 5.60439 2.29352 7.24011 2.07 9H0V11H2.07C2.29352 12.7599 3.09553 14.3956 4.34996 15.65C5.60439 16.9045 7.24011 17.7065 9 17.93V20H11V17.93C12.7599 17.7065 14.3956 16.9045 15.65 15.65C16.9045 14.3956 17.7065 12.7599 17.93 11H20V9H17.93C17.7065 7.24011 16.9045 5.60439 15.65 4.34996C14.3956 3.09553 12.7599 2.29352 11 2.07V0M9 4.08V6H11V4.09C13.5 4.5 15.5 6.5 15.92 9H14V11H15.91C15.5 13.5 13.5 15.5 11 15.92V14H9V15.91C6.5 15.5 4.5 13.5 4.08 11H6V9H4.09C4.5 6.5 6.5 4.5 9 4.08ZM10 9C9.73478 9 9.48043 9.10536 9.29289 9.29289C9.10536 9.48043 9 9.73478 9 10C9 10.2652 9.10536 10.5196 9.29289 10.7071C9.48043 10.8946 9.73478 11 10 11C10.2652 11 10.5196 10.8946 10.7071 10.7071C10.8946 10.5196 11 10.2652 11 10C11 9.73478 10.8946 9.48043 10.7071 9.29289C10.5196 9.10536 10.2652 9 10 9Z"
                    fill="#fff"
                  />
                </svg>

                Определить автоматически
              </button>
            </div>
            <!-- <div class="loans-step__map map">
              <iframe
                src="https://yandex.ru/map-widget/v1/?um=constructor%3A2cf83670d3f319639bb1cfe065690abe07747f709aeac3983a8a465a84aac50b&amp;source=constructor"
                width="650"
                height="375"
              ></iframe>
            </div> -->
          </div>
        </div>
      </div>
      <div class="loans-step">
        <div class="loans-step__text">Шаг 2</div>
        <div class="loans-step__right">
          <div class="loans-step__text"><b>Я</b></div>
          <ul class="loans-step__list">
            <li class="loans-step__item">
              <label class="radio">
                <input
                  class="radio__input"
                  type="radio"
                  name="step-1"
                  required
                  checked
                />
                <span class="radio__box"></span>
                <span class="radio__text"> <b>Физическое лицо</b> </span>
                <span class="radio__overlay"></span>
              </label>
            </li>
            <li class="loans-step__item">
              <label class="radio">
                <input
                  class="radio__input"
                  type="radio"
                  name="step-1"
                  required
                />
                <span class="radio__box"></span>
                <span class="radio__text">
                  <b>
                    Индивидуальный <br />
                    предприниматель
                  </b>
                </span>
                <span class="radio__overlay"></span>
              </label>
            </li>
            <li class="loans-step__item">
              <label class="radio">
                <input
                  class="radio__input"
                  type="radio"
                  name="step-1"
                  required
                />
                <span class="radio__box"></span>
                <span class="radio__text">
                  <b>
                    Представитель <br />
                    юридического лица
                  </b>
                </span>
                <span class="radio__overlay"></span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="loans-step">
        <div class="loans-step__text">Шаг 3</div>
        <div class="loans-step__right">
          <div class="loans-step__text"><b>Мне нужно</b></div>
          <ul class="loans-step__list">
            <li class="loans-step__item">
              <label class="radio">
                <input
                  class="radio__input"
                  type="radio"
                  name="step-2"
                  required
                />
                <span class="radio__box"></span>
                <span class="radio__text"> <b>1000 - 15000 ₽</b> </span>
                <span class="radio__overlay"></span>
              </label>
            </li>
            <li class="loans-step__item">
              <label class="radio">
                <input
                  class="radio__input"
                  type="radio"
                  name="step-2"
                  required
                  checked
                />
                <span class="radio__box"></span>
                <span class="radio__text">
                  <b> 15000 - 30000 ₽ </b>
                </span>
                <span class="radio__overlay"></span>
              </label>
            </li>
            <li class="loans-step__item">
              <label class="radio">
                <input
                  class="radio__input"
                  type="radio"
                  name="step-2"
                  required
                />
                <span class="radio__box"></span>
                <span class="radio__text">
                  <b> Более 300 000 ₽ </b>
                </span>
                <span class="radio__overlay"></span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button class="loans__btn btn" type="submit">
      Подобрать условия займа
    </button>
  </div>
</section>
