<section class="login">
  <div class="container">
    <div class="login__wrapper">
      <div class="login__top">
        <h1 class="login__title">Вход</h1>
        <a class="login__link" href="registration.html">Регистрация</a>
      </div>
      <form class="login__inner form-login">
        <div class="form-login__group">
          <label class="form-login__label">Введите телефон</label>
          <input
            class="form-login__input"
            type="tel"
            placeholder="+7 (___) ___-__-__"
          />
        </div>
        <div class="form-login__group">
          <label class="form-login__label">Пароль</label>
          <input
            class="form-login__input"
            type="password"
            placeholder="Введите Ваш пароль"
          />
        </div>
        <div class="form-login__group">
          <button class="form-login__btn btn" type="button">ВОЙТИ</button>
        </div>
        <div class="form-login__bottom">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" required />
            <span class="checkbox__box"></span>
            <span class="checkbox__text"> Оставаться в системе </span>
          </label>

          <a class="form-login__link" href="#">Забыли пароль?</a>
        </div>
      </form>
    </div>
  </div>
</section>
