<section class="mission">
  <div class="container">
    <h2 class="mission__title">
      Работа сервиса «СверхКасса» основывается <br />
      на следующих ценностях
    </h2>
    <div class="mission__wrapper">
      <ul class="mission__list">
        <li class="mission__item">
          <div class="mission__left"></div>
          <div class="mission__circle">1</div>
          <div class="mission__right">
            <span class="mission__name">Доверие</span>
            <p class="mission__text">
              Мы ценим доверие наших клиентов и партнеров. Мы дорожим доверием
              наших сотрудников и акционеров. Доверие, - невосполнимый ресурс.
            </p>
          </div>
        </li>
        <li class="mission__item">
          <div class="mission__left">
            <span class="mission__name">Открытость и коммуникации</span>
            <p class="mission__text">
              Мы действуем прозрачно. Мы всегда готовы к диалогу. Каждый имеет
              безусловное право на доступ к необходимой информации.
            </p>
          </div>
          <div class="mission__circle">2</div>
          <div class="mission__right"></div>
        </li>
        <li class="mission__item">
          <div class="mission__left"></div>
          <div class="mission__circle">3</div>
          <div class="mission__right">
            <span class="mission__name">Ответственность</span>
            <p class="mission__text">
              Мы осознаем свою ответственность перед клиентами, сотрудниками,
              партнерами и обществом в целом.
            </p>
          </div>
        </li>
        <li class="mission__item">
          <div class="mission__left">
            <span class="mission__name">Кооперация</span>
            <p class="mission__text">
              Мы всегда готовы к взаимовыгодному сотрудничеству. Мы стремимся
              расширять партнерство со всеми заинтересованными сторонами.
            </p>
          </div>
          <div class="mission__circle">4</div>
          <div class="mission__right"></div>
        </li>
        <li class="mission__item">
          <div class="mission__left"></div>
          <div class="mission__circle">5</div>
          <div class="mission__right">
            <span class="mission__name">Время</span>
            <p class="mission__text">
              Мы считаем что все должно происходить вовремя. Мы считаем время
              самым ценным ресурсом и поэтому всегда стремимся его экономить
              для себя, партнеров и клиентов.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
