<section class="our-partners">
  <div class="container">
    <h2 class="our-partners__title">
      <span>Наши партнёры</span>
    </h2>

    <ul class="our-partners__list">
      <li class="our-partners__item">
        <picture>
          <source srcset="img/partners/1.webp" type="image/webp" />
          <img src="img/partners/1.png" alt="partners" />
        </picture>
      </li>
      <li class="our-partners__item">
        <picture>
          <source srcset="img/partners/2.webp" type="image/webp" />
          <img src="img/partners/2.png" alt="partners" />
        </picture>
      </li>
      <li class="our-partners__item">
        <picture>
          <source srcset="img/partners/6.webp" type="image/webp" />
          <img src="img/partners/6.png" alt="partners" />
        </picture>
      </li>
    </ul>
  </div>
</section>
