<section class="partners-page">
  <div class="container">
    <div class="partners-page__top">
      <h2 class="partners-page__title">Партнеры</h2>
      <p class="partners-page__text">
        Мы выбираем только тех партнеров, с которыми сами готовы сотрудничать
        долгие годы.
      </p>
    </div>

    <ul class="partners-page__list">
      <li class="partners-page__item">
        <article class="partners-card">
          <div class="partners-card__top">
            <h3 class="partners-card__title">БКС мир инвестиций</h3>
            <div class="partners-card__img">
              <picture>
                <source srcset="img/partners/3.webp" type="image/webp" />
                <img src="img/partners/3.png" alt="БКС" />
              </picture>
            </div>
          </div>
          <div class="partners-card__body">
            <p>
              Крупнейший брокер России. 900000 клиентов, 26 лет на финансовом
              рынке, 1 место в рейтингах Московской Биржи, ААА рейтинг
              Национального рейтингового агентства.
            </p>
          </div>
        </article>
      </li>
      <li class="partners-page__item">
        <article class="partners-card">
          <div class="partners-card__top">
            <h3 class="partners-card__title">
              Страховая компания Д2 страхование
            </h3>
            <div class="partners-card__img">
              <picture>
                <source srcset="img/partners/4.webp" type="image/webp" />
                <img src="img/partners/4.png" alt="БКС" />
              </picture>
            </div>
          </div>
          <div class="partners-card__body">
            <p>
              Основные продукты теперь доступны онлайн. <br />
              Просто. Выгодно. Быстро.
            </p>
          </div>
        </article>
      </li>
      <li class="partners-page__item">
        <article class="partners-card">
          <div class="partners-card__top">
            <h3 class="partners-card__title">Онлайн-кредит для бизнеса</h3>
            <div class="partners-card__img">
              <picture>
                <source srcset="img/partners/1.webp" type="image/webp" />
                <img src="img/partners/1.png" alt="БКС" />
              </picture>
            </div>
          </div>
          <div class="partners-card__body">
            <p>
              Решение по кредиту для бизнеса за 10 секунд по 2-м документам
              онлайн. На счет в любом банке. Кредитный лимит до 10 млн ₽. <br />
              Моментальное кредитное решение.
            </p>
          </div>
        </article>
      </li>
      <li class="partners-page__item">
        <article class="partners-card">
          <div class="partners-card__top">
            <h3 class="partners-card__title">Страховая компания Росгосстрах</h3>
            <div class="partners-card__img">
              <picture>
                <source srcset="img/partners/5.webp" type="image/webp" />
                <img src="img/partners/5.png" alt="БКС" />
              </picture>
            </div>
          </div>
          <div class="partners-card__body">
            <p>Первые в новом веке страхования.</p>
          </div>
        </article>
      </li>
      <li class="partners-page__item">
        <article class="partners-card">
          <div class="partners-card__top">
            <h3 class="partners-card__title">Компания Banki.ru</h3>
            <div class="partners-card__img">
              <picture>
                <source srcset="img/partners/2.webp" type="image/webp" />
                <img src="img/partners/2.png" alt="БКС" />
              </picture>
            </div>
          </div>
          <div class="partners-card__body">
            <p>Самый большой финансовый маркетплейс в России.</p>
          </div>
        </article>
      </li>
      <li class="partners-page__item">
        <article class="partners-card">
          <div class="partners-card__top">
            <h3 class="partners-card__title">ООО МКК «Сверхзайм»</h3>
            <div class="partners-card__img">
              <picture>
                <source srcset="img/partners/6.webp" type="image/webp" />
                <img src="img/partners/6.png" alt="БКС" />
              </picture>
            </div>
          </div>
          <div class="partners-card__body">
            <p>Займы для адекватных заемщиков на адекватных условиях.</p>
          </div>
        </article>
      </li>
      <li class="partners-page__item">
        <article class="partners-card">
          <div class="partners-card__top">
            <h3 class="partners-card__title">Тинькофф</h3>
            <div class="partners-card__img">
              <picture>
                <source srcset="img/partners/8.webp" type="image/webp" />
                <img src="img/partners/8.png" alt="БКС" />
              </picture>
            </div>
          </div>
          <div class="partners-card__body">
            <p>Самый большой финансовый маркетплейс в России.</p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
