<div class="popup popup--back-call">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">Заказать звонок</span>
      <div class="popup__text">
        <p>Оставьте ваши данные и мы вам перезвоним.</p>
      </div>

      <form class="form-submit">
        <div class="form-submit__group">
          <label class="form-submit__label" for="online-name">Имя</label>

          <input
            class="form-submit__input"
            name="name"
            id="online-name"
            type="text"
            placeholder="Введите ваше имя"
            required
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="online-tel">
            Контактный телефон
          </label>

          <input
            class="form-submit__input"
            name="tel"
            id="online-tel"
            type="tel"
            placeholder="+7 (___) ___-__-__"
            required
          />
        </div>

        <button class="form-submit__btn btn" type="button">
          Заказать звонок
        </button>
      </form>
    </div>
  </div>
</div>

<div class="popup popup--start">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">
        Приветствуем вас на сервисе финансовых решений! <br />
        Какой продукт проекта
        <span class="logo-text">
          «<span>Сверх</span>
          <span>Касса</span> </span
        >» вас интересует?
      </span>
      <div class="popup__text">
        <p>Выберите интересующий вас пункт</p>
      </div>

      <ul class="popup__list">
        <li class="popup-item">
          <a class="popup-item__link" href="loans.html">
            <picture>
              <source srcset="img/choose/1.webp" type="image/webp" />
              <img src="img/choose/1.png" alt="img" />
            </picture>
            <span>Хочу получить займ</span>
          </a>
        </li>
        <li class="popup-item">
          <a class="popup-item__link" href="investment.html">
            <picture>
              <source srcset="img/choose/2.webp" type="image/webp" />
              <img src="img/choose/2.png" alt="img" />
            </picture>
            <span>Хочу сберечь накопления</span>
          </a>
        </li>
        <li class="popup-item">
          <a class="popup-item__link" href="index.html">
            <picture>
              <source srcset="img/choose/3.webp" type="image/webp" />
              <img src="img/choose/3.png" alt="img" />
            </picture>
            <span>Хочу посмотреть сайт</span>
          </a>
        </li>
      </ul>

      <div class="popup__copy">
        Продолжая, Вы соглашаетесь с тем, что мы обрабатываем ваши персональные
        данные <br />
        с использованием метрических программ (Cooki), а так же соглашаетесь с
        <a href="#">политикой конфиденциальности.</a>
      </div>
    </div>
  </div>
</div>
