<section class="promo" style="background-image: url('img/promo-about.jpg')">
  <div class="container">
    <div class="promo__wrapper">
      <div class="promo__offer">
        <h1 class="promo__title">
          Сервис финансовых решений "Сверхкасса" является совместным проектом
          ООО МКК "Сверхзайм" <br />
          и ИП Никоненко О.О. <br />
          Руководитель проекта Никоненко Д.Ю.
        </h1>
        <p class="promo__text">
          ООО МКК "Сверхзайм" действует в соответствии с Федеральным законом от
          02.07.2010г №151-ФЗ "О микрофинансовой деятельности и микрофинансовых
          организациях". Состоит в реестре банка России. Номер лицензии /
          Регистрационный номер №21-040-03-009763. Член СРО МИР. ИП Никоненко
          О.О. является страховым брокером и свою деятельность осуществляет на
          основании партнерских соглашений с лицензированными страховыми
          организациями.
        </p>
      </div>
    </div>
  </div>
</section>
