<section class="quote">
  <div class="container">
    <div class="quote__wrapper">
      <picture>
        <source srcset="img/quote-img.webp" type="image/webp" />
        <img class="quote__img" src="img/quote-img.jpg" alt="quote" />
      </picture>

      <div class="quote__left">
        <h2 class="quote__title">Никоненко Дмитрий</h2>
        <p class="quote__prof">
          Основатель сервиса Финансовых решений «СверхКасса» <span></span>
          и Генеральный директор ООО МКК «СверхЗайм».
        </p>
        <blockquote class="quote__text">
          Мой общий стаж в финансовой сфере 27 лет из которых 11 лет я провел на
          государственной службе и последние 16 лет я проработал в банках.
        </blockquote>
      </div>
    </div>
  </div>
</section>
