<section class="submit submit--investment">
  <div class="container">
    <div class="submit__top">
      <h2 class="submit__title">
        Задайте вопрос или запишитесь на консультацию
      </h2>
      <p class="submit__text">
        Оставьте заявку и наш специалист свяжется с вами
      </p>
    </div>

    <form class="submit__form form-submit">
      <div class="form-submit__top">
        <div class="form-submit__group">
          <label class="form-submit__label">Как к Вам обращаться?</label>
          <input
            class="form-submit__input input-form"
            type="text"
            placeholder="Введите Ваше имя"
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label">Электронная почта</label>
          <input
            class="form-submit__input input-form"
            type="text"
            placeholder="Введите Ваш e-mail"
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label">Контактный телефон</label>
          <input
            class="form-submit__input input-form"
            type="tel"
            placeholder="+7 (___) ___-__-__"
          />
        </div>
      </div>
      <div class="form-submit__group">
        <label class="form-submit__label">Тема вопроса</label>
        <select class="select form-submit__select">
          <option value="1">Выберите тему вопроса</option>
          <option value="1">Выберите тему вопроса</option>
          <option value="1">Выберите тему вопроса</option>
        </select>
      </div>
      <div class="form-submit__group">
        <label class="form-submit__label">Сообщение</label>
        <textarea
          class="form-submit__input form-submit__input--textarea"
          placeholder="Введите Ваш вопрос"
        ></textarea>
      </div>
      <div class="form-submit__bottom">
        <label class="checkbox">
          <input class="checkbox__input" type="checkbox" required />
          <span class="checkbox__box"></span>
          <span class="checkbox__text">
            Отправляя заявку я соглашаюсь с
            <a href="#">обработкой персональных данных</a>
          </span>
        </label>

        <button class="form-submit__btn btn" type="button">Отправить</button>
      </div>
    </form>
  </div>
</section>
