<div class="terms">
  <div class="container">
    <ul class="terms__list">
      <li class="terms-item">
        <div class="terms-item__count">1</div>
        <div class="terms-item__info">
          <span class="terms-item__name">
            НАЖМИТЕ КНОПКУ <span>"ПОДОБРАТЬ УСЛОВИЯ ЗАЙМА"</span>
          </span>
          <p class="terms-item__text">
            Вы попадете на онлайн сервис выдачи займа от нашего партнера, для
            оформления онлайн заявки.
          </p>
        </div>
      </li>
      <li class="terms-item">
        <div class="terms-item__count mt">2</div>
        <div class="terms-item__info">
          <span class="terms-item__name">
            ЗАПОЛНИТЕ ВСЕ ПОЛЯ <br />
            ОНЛАЙН АНКЕТЫ
          </span>
          <p class="terms-item__text">
            Внимательно заполняйте все поля, вводите корректные данные и свой
            номер телефона (на него придет смс код).
          </p>
        </div>
      </li>
      <li class="terms-item">
        <div class="terms-item__count mt">3</div>
        <div class="terms-item__info">
          <span class="terms-item__name">
            ПОЛУЧИТЕ ДЕНЬГИ <br />
            УДОБНЫМ СПОСОБОМ
          </span>
          <p class="terms-item__text">
            Решение о выдаче займа принимается за 5 минут. Сразу после одобрения
            с вами свяжется менеджер и договорится об очной встрече.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
