<section class="vacancies">
  <div class="container">
    <h2 class="vacancies__title">Вакансии</h2>

    <div class="vacancies-accordion accordion">
      <div class="vacancies-accordion__control accordion-control">
        <div class="vacancies-accordion__control-top">
          <span class="vacancies-accordion__name">
            Менеджер по работе с клиентами
          </span>
          <div class="vacancies-accordion__salary">от 27 000 руб.</div>
        </div>
        <ul class="vacancies-accordion__control-list">
          <li class="vacancies-accordion__control-item">
            • полный рабочий день
          </li>
          <li class="vacancies-accordion__control-item">
            • опыт работы от 1 года
          </li>
          <li class="vacancies-accordion__control-item">• образование любое</li>
        </ul>
      </div>
      <div class="vacancies-accordion__content accordion-content">
        <div class="vacancies-accordion__body">
          <div class="vacancies-accordion__cols">
            <div class="vacancies-accordion__col">
              <span class="vacancies-accordion__content-name">
                Необходимые требования:
              </span>
              <ul class="vacancies-accordion__content-list">
                <li class="vacancies-accordion__content-item">
                  • Навыки телефонных переговоров;
                </li>
                <li class="vacancies-accordion__content-item">
                  • Грамотная устная и письменная речь;
                </li>
                <li class="vacancies-accordion__content-item">
                  • Чем предстоит заниматься:
                </li>
                <li class="vacancies-accordion__content-item">
                  • Принимать и обрабатывать заказы клиентов;
                </li>
                <li class="vacancies-accordion__content-item">
                  • Консультировать клиентов;
                </li>
                <li class="vacancies-accordion__content-item">
                  • Вести клиентскую базу;
                </li>
                <li class="vacancies-accordion__content-item">
                  • Формировать отчетность по продажам
                </li>
                <li class="vacancies-accordion__content-item">
                  • Работать с документооборотом, корреспонденцией;
                </li>
              </ul>
            </div>
            <div class="vacancies-accordion__col">
              <span class="vacancies-accordion__content-name">
                Мы предлагаем:
              </span>
              <ul class="vacancies-accordion__content-list">
                <li class="vacancies-accordion__content-item">
                  • Своевременную оплату труда;
                </li>
                <li class="vacancies-accordion__content-item">
                  • Обучение по продукту, обмен опытом и карьерный рост;
                </li>
                <li class="vacancies-accordion__content-item">
                  • Работу в сплоченной команде;
                </li>
              </ul>
            </div>
          </div>
          <div class="vacancies-accordion__bottom">
            <button class="vacancies-accordion__btn btn" type="button">
              Откликнуться
            </button>
            <button
              class="vacancies-accordion__btn btn btn--gray"
              type="button"
            >
              Позвонить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
