<section class="why">
  <div class="container">
    <h2 class="why__title">Зачем инвестировать?</h2>

    <ul class="why__list">
      <li class="why-item">
        <div class="why-item__top">
          <picture>
            <source srcset="img/why/1.webp" type="image/webp" />
            <img
              class="why-item__img"
              src="img/why/1.png"
              alt="why"
              width="100"
              height="50"
            />
          </picture>
        </div>
        <h3 class="why-item__title">Получать пассивный доход</h3>
        <p class="why-item__text">
          Если регулярно откладывать и
          инвестировать деньги, можно создать
          капитал, который будет приносить
          пассивный доход.
        </p>
      </li>
      <li class="why-item">
        <div class="why-item__top">
          <picture>
            <source srcset="img/why/2.webp" type="image/webp" />
            <img
              class="why-item__img"
              src="img/why/2.png"
              alt="why"
              width="100"
              height="50"
            />
          </picture>
        </div>
        <h3 class="why-item__title">Накопить на крупную покупку</h3>
        <p class="why-item__text">
          Ценные бумаги могут приносить доход
          выше вкладов, поэтому вложения в них —
          один из способов накопить на жильё,
          обучение ребёнка или другую цель.
        </p>
      </li>
      <li class="why-item">
        <div class="why-item__top">
          <picture>
            <source srcset="img/why/3.webp" type="image/webp" />
            <img
              class="why-item__img"
              src="img/why/3.png"
              alt="why"
              width="100"
              height="50"
            />
          </picture>
        </div>
        <h3 class="why-item__title">Обеспечить комфортную жизнь</h3>
        <p class="why-item__text">
          Чтобы в пожилом возрасте не менять
          привычный образ жизни, позаботьтесь
          о своём будущем уже сегодня с помощью
          долгосрочных инвестиций.
        </p>
      </li>
    </ul>
  </div>
</section>
